/nbproject/private/
/nbproject/Make*
/nbproject/Package*
/build/default/
/disassembly
/dist/default/
/CoreLib.X/nbproject/Make*
/CoreLib.X/nbproject/private/
/CoreLib.X/nbproject/Package*
/CoreLib.X/build/default/
/CoreLib.X/dist/default/
/Labs/Lab1.X/nbproject/private/
/Labs/Lab1.X/build/default/
/Labs/Lab1.X/dist/default/
/Labs/Lab2.X/nbproject/private/