/nbproject/private/
/nbproject/Make*
/nbproject/Package*
/build/default/
/dist/default/
/CoreLib.X/nbproject/private/
/CoreLib.X/nbproject/Make*
/CoreLib.X/nbproject/Package*
/CoreLib.X/build/default/
/CoreLib.X/dist/default/
